<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form accept-charset="UTF-8" id="invcn-form" method="post" action="/render" enctype="multipart/form-data" class="website-form" autocomplete="off" >

    	<div><p>  <%= title %> </p></div>

    </form>
  </body>
</html>