body {
  background-color: #222222;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #ccccee;
}

a {
  color: #00B7FF;
}
img.image-size {
  height: 223px;
  width: 312px;
}
div.img{
	margin: 40px;
	float: left;
}






